BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 90
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertBraces: true
AllowShortBlocksOnASingleLine: Empty
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
IncludeBlocks: Preserve
